@using ProjectLibrary.Config
@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@model IEnumerable<Gallery>
@{
    Layout = "~/Views/Shared/_Layout_home.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    List<Menu> menus = CommentController.GetMainMenus(Request.Cookies["LanguageID"].Value).Where(a => a.Type == SystemMenuType.Gallery).ToList();
    List<Gallery> galleries = CommentController.Gallery(Request.Cookies["LanguageID"].Value);
}
<!-- Css prettyphoto-master -->
@*<link href="~/Plugins/prettyphoto-master/css/prettyPhoto.css" rel="stylesheet" />*@
@*<link href="~/Content/img/css/gallery-grid.css" rel="stylesheet" />
    <script src="~/Content/img/js/gallery-grid.js"></script>*@
<!-- Jquery prettyphoto-master -->
@*<script src="~/Plugins/prettyphoto-master/js/jquery.prettyPhoto.js"></script>*@
<!-- page title -->
<div class="page-title container-fluid">
    <div class="container" style="position: relative;">
        <p class="title">Grid</p>
        <p class="page-tree">
            <span class="home"><a href="/">Home</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span>Grid</span>
        </p>
    </div>
</div>
<!-- end page title -->
<!-- image show -->
<div class="image-show">
    <div class="image-item">
        <img src="">
    </div>
</div>
<!-- end image show -->

<div class="gallery-grid container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                @foreach (var item in galleries)
                {
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 item">
                        <div class="image">
                            <img src="@item.SmallImage" class="bg-replace">
                        </div>
                        <div class="info-layer">
                            <div class="zoom layer-item">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="detail layer-item">
                                <a href="#"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- end gallery-grid -->
